* {
    font-family: "Akaya Kanadaka", system-ui;
    font-optical-sizing: auto;
    color: #a57fc8;
}

.container{
    position: absolute;
    left: 15%;
    width: 70%;
    right: 15%;
}

.div-voltar{
    text-align: end;
}

.link-voltar{
    text-decoration: none;
    font-size: 30px;
    color: #807fc8;
}

.link-voltar:hover{
    text-decoration: dashed;
    cursor: pointer;
    color: #d3e2ff;
}