* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Bubbles", system-ui;
}

body {
    background-color: #fff0f6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ffbb7f;
    padding: 20px 0;
    color: #fff;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ff8000;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 15px;
    text-align: center;
}

nav ul li a:hover {
    color: #ffe989;
    text-decoration: underline;
}

/* Carrosel de imagens */
.Carrosel {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#img-carrosel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    header h1 {
        font-size: 30px;
    }
    nav a {
        font-size: 16px;
    }
    .Carrosel {
        height: 250px;
    }
}


.container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #ff8000;
    margin-bottom: 20px;
    text-align: center;
}

.container p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #ffbb7f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}